div.container {
  text-align: center;
}

span {
  font-size: 150px;
}

div.col2 {
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}

div.row2 div {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

div.moveArea:hover {
	cursor: pointer;
}