.checkForPending{
	font-family: 'Bahiana', cursive;
    font-size: 48px;
    height: 100vh;
    background: #004e64; /* Old browsers */
    background: -moz-linear-gradient(top, #004e64 0%, #25a18e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #004e64 0%,#25a18e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #004e64 0%,#25a18e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004e64', endColorstr='#25a18e',GradientType=0 ); /* IE6-9 */
}
.checkForPending img{
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    width: 50%;
}
h1{
    text-align: center;
    margin-bottom: 0px;
}

button.btn-find-match{
    margin: 0 auto;
    display: block;
    text-align: center;
}